<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <nav>
        <div>
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/work">Work</a>
            <a href="/gallery">Gallery</a>
        </div>
    </nav>
    <section id="page-info">
        <div class="home-text">
            <h1>"I think what makes people fascinating is conflict, it's drama, it's the human condition. Nobody wants to watch perfection." - Nicolas Cage</h1>
            
        </div>
        <div class="home-img">
            <img src="/images/NicolasCagePortrait.jpg" alt="Nicolas Cage Portrait">
        </div>
    </section>
    <p id="subtitle">This website is a tribute to one of the most influential actors of the last generations, shaping the industry and broking the internet a few times</p>
</body>
</html>