<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div>
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/work">Work</a>
            <a href="/gallery">Gallery</a>
        </div>
    </nav>
    <section id="top-section">
        <div id="about-text">
            <h1>Nicolas Cage</h1>
            <h3>Age: 59</h3>
        </div>
        <div id="about-img">
            <img src="/images/Nicolas-Cage.jpg" alt="">
        </div>
    </section>
    <section id="about-description">
        <h4>Summary</h5>
        <p>
            Nicolas Kim Coppola (born January 7, 1964), known by his stage name Nicolas Cage, 
            is an American actor and film producer. Born into the Coppola family, he is the 
            recipient of various accolades, including an Academy Award, a Screen Actors Guild 
            Award, and a Golden Globe Award.
        </p>
        <h4>Acting</h4>
        <p>
            In February 2011, Cage said that, at a certain point in his career, he realized that
            he had developed his own method of acting, which he described as "Nouveau Shamanic."
            He noted, "at some point I'll have to write a book" about it. Cage later explained
            that he drew the inspiration for the name from the book The Way of the Actor by Brian Bates,
            in which he read about the parallel between the ancient shamans and thespians. In other interviews, 
            Cage defined his acting style using terms such as German Expressionism or "Western kabuki".
        </p>
    </section>


        

    
</body>
</html>