<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div>
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/work">Work</a>
            <a href="/gallery">Gallery</a>
        </div>
    </nav>
    <section id="stats">
        <ul>
            <li><span>107</span>Movies</li>
            <li><span>2.74</span>Movies/year</li>
            <li><span>41</span>Years Acting</li>
        </ul>
    </section>
    <section id="movies-table">
        <table>
            <thead>
              <tr>
                <th class="table-description">Movie</th>
                <th class="table-description">Role</th>
                <th class="table-year">Year</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>National Treasure</td>
                <td>Benjamin Franklin Gates</td>
                <td>2004</td>
              </tr>
              <tr>
                <td>Adaptation.</td>
                <td>Charlie Kaufman / Donald Kaufman</td>
                <td>2002</td>
              </tr>
              <tr>
                <td>Leaving Las Vegas</td>
                <td>Ben Sanderson</td>
                <td>1995</td>
              </tr>
              <tr>
                <td>Moonstruck</td>
                <td>Ronny Cammareri</td>
                <td>1987</td>
              </tr>
              <tr>
                <td>Wild at Heart</td>
                <td>Sailor Ripley</td>
                <td>1990</td>
              </tr>
              <tr>
                <td>Face/Off</td>
                <td>Castor Troy / Sean Archer</td>
                <td>1997</td>
              </tr>
              <tr>
                <td>Kick-Ass</td>
                <td>Damon Macready / Big Daddy</td>
                <td>2010</td>
              </tr>
              <tr>
                <td>Con Air</td>
                <td>Cameron Poe</td>
                <td>1997</td>
              </tr>
              <tr>
                <td>Raising Arizona</td>
                <td>H.I. McDunnough</td>
                <td>1987</td>
              </tr>
              <tr>
                <td>Matchstick Men</td>
                <td>Roy Waller</td>
                <td>2003</td>
              </tr>
            </tbody>
          </table>          
    </section>
</body>
</html>