<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div>
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/work">Work</a>
            <a href="/gallery">Gallery</a>
        </div>
    </nav>
    <section class="gallery" id="movies">
        <h1>Popular Movies</h1>
        <div>
            <img src="/images/FaceOffMovie.jpg" alt="movie-poster">
            <img src="/images/LeavingLasVegasMovie.jpg" alt="movie-poster">
            <img src="/images/TheRockMovie.jpg" alt="movie-poster">
            <img src="/images/NextMovie.jpg" alt="movie-poster">
        </div>
    </section>
    <section class="gallery" id="memes">
        <h1>Popular Memes</h1>
        <div>
            <img src="/images/NCbirdhair.jpeg" alt="NCmeme">
            <img src="/images/NChigh.jpg" alt="NCmeme">
            <img src="/images/NCsuprised.jpg" alt="NCmeme">
            <img src="/images/NCtreasure.jpg" alt="NCmeme">
        </div>
    </section>
</body>
</html>